<div id="slide" class="container">
<div class="row-fluid block">
	<div class="span2"></div>
	<div class="span8 boxblock">
		<div id="userslide">
            <div class="alert alert-info emsg">
                {{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}
            </div>
		</div>
	</div>
</div>
</div>