{% extends "SiteUserBundle::layout.html.twig" %}
{% block fos_user_content %}
<div class="container">
	{% include "SiteUserBundle:Registration:register_content.html.twig" %}
</div>
{% endblock fos_user_content %}