        <section class="box">
            <section class="title">
				<h4>马上加入并开始学习编程!</h4>
				<i class="icon-spinner icon-spin icon-large"></i>
			</section>
			<section class="row-fluid content">
			    <section class="span5">
			    	<section class="box-wrap">
			    	    {% include 'SiteUserBundle:Security:login_third.html.twig' %}
			    	</section>
			    </section>
			    <section class="span7">
			    	<section class="box-wrap box-wrap-right">
			    		<section class="box-content">
			    	    	<section class="box-wrap-title">
								<h5>通过geekcoding登录</h5>
							</section>
							<section class="box-wrap-content">
								{% include 'SiteUserBundle:Registration:register_form.html.twig' %}
							</section>
			    	    </section>
			    	</section>
			    </section>
			</section>
		</section>