<div class="welcome">
  <div class="row-fluid">
    <div class="span6">
      <video width="450" height="270" src="http://bcs.duapp.com/geekcoding/echo-hereweare.mp4?sign=MBO:77b76f3534960facec6bea8dd6cc03b4:8o9PbpiIvlZvObpQk07olE1XCkI%3D&response-content-disposition=filename*=utf8''echo-hereweare.mp4&response-cache-control=private=" 
        type="video/mp4" controls="controls" preload="none" poster="{{home.homeimg}}"></video>
    </div>
    <div class="span6">
    <div class="pull-left">
        <div class="hometitle">
          <h3>寻找最适合你的编程学习方案</h3>
          <small>
            对编程有着浓厚的兴趣,但培训部垃圾且贵,正苦于入门?<br />
            已是临近毕业,想成为一名职业程序员,但学校教的太基础？<br />
            一直做着重复性工作,没时间接触新技术,无法提升薪资待遇?<br />
          </small>
          <center>
            <span class="button-wrap">
              <a href="#" class="button button-circle button-flat-primary">
                <i class="icon-code"></i>开始学习
              </a>
            </span>
          </center>
        </div>
    </div>
    </div>
  </div>
</div>