@import "../libs/bootstrap/less/bootstrap.less";
@import "../libs/bootstrap/less/responsive.less";
@import "nav.less";
@import "block.less";
@import "ajax.less";
@FontAwesomePath: "/bundles/sitecommon/font";
@gridColumnWidth1200: 60px;
@gridGutterWidth1200: 20px;

html,body{
	padding: 0;
	margin: 0;
}
body{
	padding-top: 45px;
	background-image: url(../img/bg3.png);
}
footer{
	nav{
	    font-size:@baseFontSize;
	}
}
header{
	.nav{
		margin-bottom: 0;
	}
	.nav-pills{
		#translucent > .background(@color: #fff, @alpha: 0.8);
		border:1px solid #dcdcdc;
		padding: 1px 2px 1px 0;
		a{
		    color: #222;
		    &:hover,&:focus{
			    .border-radius(@radius: 0);
		    }
		}
    }
}
.pushslide{
	width:@gridColumnWidth1200*8+@gridGutterWidth1200*7;
}