@import "../libs/bootstrap/less/bootstrap.less";
@import "../libs/bootstrap/less/responsive.less";
@import "base.less";
@import "nav.less";
@import "alert.less";
@import "thumb.less";
@import "block.less";
@FontAwesomePath: "/bundles/sitecommon/font";
@gridColumnWidth1200: 60px;
@gridGutterWidth1200: 20px;
html,body{
	padding: 0;
	margin: 0;
}
body{
	background-image: url(../img/bg3.png);
}
.wrap{
	margin-top: 45px;
}