{% block form_row %}
{% spaceless %}
<div class="control-group">
	<div class="row-fluid">
		<div class="span3">
			{{ form_label(form, label|default(null),{ 'label_attr': {'class': 'control-label'} }) }}
		</div>
		<div class="span5">
			<div class="offset1">{{ form_widget(form) }}</div>
		</div>
		<div class="span4">
			{% if form_errors(form) %}
			   <div class="alert alert-error">{{ form_errors(form) }}</div>
			{% endif %}
		</div>
	</div>
</div>
{% endspaceless %}
{% endblock form_row %}