{% block form_row %}
{% spaceless %}
<div class="control-group {% if form.vars.errors|length > 0 %}error{% endif %}">
	{{ form_label(form, label|default(null),{ 'label_attr': {'class': 'control-label'} }) }}
	<div class="controls">
	    {{ form_widget(form) }}
	</div>
</div>
{% endspaceless %}
{% endblock form_row %}