<header>
  <div class="container">
    <div class="row-fluid block">
      <div class="span6">
        <div class="alert alert-advertise">GEEKCODING正在紧张开发中,具体请等待公告!</div>
      </div>
      <div class="span6">
        <ul class="topmenu nav nav-pills pull-right">
          <li><a class='menupush' href="{{ path('site_common_homepage') }}"><i class="icon-home"></i>首页</a></li>
          {% for navi in navigates %}
          <li>
            <a href="{{navi.link}}" {% if navi.blank %} target="_blank" {% else %} class='menupush' {% endif %} >
              {% if navi.icon %} <i class="{{navi.icon}}"></i>{% endif %}
              &nbsp;{{navi.name}}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</header>