<header>
  <div class="container">
    <div class="row-fluid block">
      <div class="span7">
        <div class="alert alert-advertise">年费会员近日起开始报名,具体请等待公告!</div>
      </div>
      <div class="span5">
        <ul class="nav nav-pills pull-right">
          {% for navi in navigates %}
          <li>
            <a href="{{navi.link}}">
              {% if navi.icon %} <i class="{{navi.icon}}"></i>
              {% endif %}
                  &nbsp;{{navi.name}}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</header>