    <footer>
        <div class="container">
            <hr>    
            <div class="row-fluid">
                <div class="span12">
                    <div class="span7">
                        <p class="text-left muted">
                            © 2012-2013 Geekcoding.net, All Rights Reserved - 浙ICP备13005404号-2
                        </p>
                    </div>
                    <div class="span5">
                        <nav class="pull-right">
                            <a href="#">网站简介</a>
                            <a href="#">服务条款</a>
                            <a href="#">投资合作</a>
                            <a href="#">广告服务</a>
                            <a href="#">意见反馈</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    