{% extends "SiteUserBundle::layout.html.twig" %}
{% block fos_user_content %}
<div class="container">
<div class="row-fluid">
	<div class="span2"></div>
	<div id="form-content" class="span7">
    {% include "SiteUserBundle:Security:login_content.html.twig" %}
    </div>
	<div class="span2"></div>
</div>
</div>
{% endblock fos_user_content %}