	<section class="box-content">
		<section class="box-wrap-title">
			<h5>通过第三方登录</h5>
	    </section>
		<section class="box-wrap-content">
			<div class="button-list">
				<a href="/login/github" class="button button-rounded button-flat">
					<i class="icon-github icon-2x"></i><span>使用Github账户登录</span>
				</a>
				<a href="#" class="button button-rounded button-flat-primary">
					<i class="icon-google-plus icon-2x"></i><span>使用Google账户登录</span>
				</a>
				<a href="#" class="button button-rounded button-flat-caution">
					<i class="icon-weibo icon-2x"></i><span>使用新浪微博登录</span>
				</a>
			</div>
		</section>
	</section>