{% extends "SiteUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
<div class="container">
	{% include "SiteUserBundle:Security:login_content.html.twig" %}
</div>
{% endblock fos_user_content %}