<div class="container">
	<div class="row-fluid block">
		<div class="span8 box">
		    <section class="">
		    	
		    </section>
		    <div class="page-header">
                <h4>{{ lesson.name }}</h4>
            </div>
            <section class="lesson-list">
            	<ul class="unstyled">
            	    {% for video in lesson.videos %}
            	        <li>
            	           <span class="lesson-class badge badge-success">Class{{ video.class }}</span>
            	           <span class="lesson-title">{{ video.title }}</span>
            	        </li>
            	    {% endfor %}
            	</ul>
            </section>
		</div>
		<div class="span4">
			
		</div>
	</div>
</div>