<div class="heading">

    <h3>首页</h3>

    <div class="resBtnSearch">
        <a href="#">
            <span class="icon16 icomoon-icon-search-3"></span>
        </a>
    </div>

    <div class="search">

        <form id="searchform" action="search.html">
            <input type="text" id="tipue_search_input" class="top-search" placeholder="Search here ..." />
            <input type="submit" id="tipue_search_button" class="search-btn" value=""/>
        </form>

    </div>
    <!-- End search -->

    <ul class="breadcrumb">
        <li>当前位置:</li>
        <li>
            <a href="{{ path('admin_homepage') }}" class="tip" title="返回首页">
                <span class="icon16 icomoon-icon-screen-2"></span>
            </a>
            <span class="divider">
                <span class="icon16 icomoon-icon-arrow-right-2"></span>
            </span>
        </li>
        {% if bread is defined %}
        <li class="active">{{ bread }}</li>
        {% endif %}
    </ul>

</div>