
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">

                    <a class="brand" href="dashboard.html">
                        Geekcoding.
                        <span class="slogan">后台管理</span>
                    </a>
                    <div class="nav-no-collapse">
                        <ul class="nav pull-right usernav">
                            <li>
                                <a href="{{ path('site_common_homepage') }}" target="_blank">
                                    <span class="icon16 icomoon-icon-screen-2"></span>网站首页
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="icon16 icomoon-icon-mail-3"></span>
                                    消息通知
                                    <span class="notification">8</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="menu">
                                        <ul class="messages">
                                            <li class="header"> <strong>消息通知</strong>
                                                (10) emails and (2) PM
                                            </li>
                                            <li>
                                                <span class="icon">
                                                    <span class="icon16 icomoon-icon-user-3"></span>
                                                </span>
                                                <span class="name">
                                                    <a data-toggle="modal" href="#myModal1"> <strong>Sammy Morerira</strong>
                                                    </a>
                                                    <span class="time">35 min ago</span>
                                                </span>
                                                <span class="msg">I have question about new function ...</span>
                                            </li>
                                            <li>
                                                <span class="icon avatar">
                                                    {% image '@AdminGlobalBundle/Resources/public/images/avatar.jpg' %}
                                                        <img src="{{ asset_url }}" alt=""/>
                                                    {% endimage %}    
                                                </span>
                                                <span class="name">
                                                    <a data-toggle="modal" href="#myModal1">
                                                        <strong>George Michael</strong>
                                                    </a>
                                                    <span class="time">1 hour ago</span>
                                                </span>
                                                <span class="msg">I need to meet you urgent please call me ...</span>
                                            </li>
                                            <li>
                                                <span class="icon">
                                                    <span class="icon16 icomoon-icon-mail-3"></span>
                                                </span>
                                                <span class="name">
                                                    <a data-toggle="modal" href="#myModal1">
                                                        <strong>Ivanovich</strong>
                                                    </a>
                                                    <span class="time">1 day ago</span>
                                                </span>
                                                <span class="msg">I send you my suggestion, please look and ...</span>
                                            </li>
                                            <li class="view-all">
                                                <a href="#">
                                                    View all messages
                                                    <span class="icon16 icomoon-icon-arrow-right-8"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">
                                    {% image '@AdminGlobalBundle/Resources/public/images/avatar.jpg' %}
                                        <img src="{{ asset_url }}" alt="" class="image"/>
                                    {% endimage %}  
                                    <span class="txt">admin@supr.com</span> <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="menu">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <span class="icon16 icomoon-icon-user-3"></span>
                                                    Edit profile
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="icon16 icomoon-icon-comments-2"></span>
                                                    Approve comments
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="icon16 icomoon-icon-plus-2"></span>
                                                    Add user
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="index.html">
                                    <span class="icon16 icomoon-icon-exit"></span>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.nav-collapse --> </div>
                <!-- /navbar-inner --> </div>
            <!-- /navbar --> </div>