{{ knp_menu_render('sidebar',{'template': 'AdminGlobalBundle:Public:sidemenu.html.twig'}) }}
<div class="sidebar-widget">
                        <h5 class="title">Monthly Bandwidth Transfer</h5>
                        <div class="content">
                            <span class="icon16 icomoon-icon-loop left"></span>
                            <div class="progress progress-mini progress-danger left tip" title="87%">
                              <div class="bar" style="width: 87%;"></div>
                            </div>
                            <span class="percent">87%</span>
                            <div class="stat">19419.94 / 12000 MB</div>
                        </div>

                    </div><!-- End .sidenav-widget -->

                    <div class="sidebar-widget">
                        <h5 class="title">Disk Space Usage</h5>
                        <div class="content">
                            <span class="icon16 icomoon-icon-drive left"></span>
                            <div class="progress progress-mini progress-success left tip" title="16%">
                              <div class="bar" style="width: 16%;"></div>
                            </div>
                            <span class="percent">16%</span>
                            <div class="stat">304.44 / 8000 MB</div>
                        </div>

                    </div><!-- End .sidenav-widget -->

                    <div class="sidebar-widget">
                        <h5 class="title">Ad sense stats</h5>
                        <div class="content">
                            
                            <div class="stats">
                                <div class="item">
                                    <div class="head clearfix">
                                        <div class="txt">Advert View</div>
                                    </div>
                                    <span class="icon16 icomoon-icon-eye left"></span>
                                    <div class="number">21,501</div>
                                    <div class="change">
                                        <span class="icon24 icomoon-icon-arrow-up-2 green"></span>
                                        5%
                                    </div>
                                    <span id="stat1" class="spark"></span>
                                </div>
                                <div class="item">
                                    <div class="head clearfix">
                                        <div class="txt">Clicks</div>
                                    </div>
                                    <span class="icon16 icomoon-icon-thumbs-up left"></span>
                                    <div class="number">308</div>
                                    <div class="change">
                                        <span class="icon24 icomoon-icon-arrow-down-2 red"></span>
                                        8%
                                    </div>
                                    <span id="stat2" class="spark"></span>
                                </div>
                                <div class="item">
                                    <div class="head clearfix">
                                        <div class="txt">Page CTR</div>
                                    </div>
                                    <span class="icon16 icomoon-icon-heart left"></span>
                                    <div class="number">4%</div>
                                    <div class="change">
                                        <span class="icon24 icomoon-icon-arrow-down-2 red"></span>
                                        1%
                                    </div>
                                    <span id="stat3" class="spark"></span>
                                </div>
                                <div class="item">
                                    <div class="head clearfix">
                                        <div class="txt">Earn money</div>
                                    </div>
                                    <span class="icon16 icomoon-icon-coin left"></span>
                                    <div class="number">$376</div>
                                    <div class="change">
                                        <span class="icon24 icomoon-icon-arrow-up-2 green"></span>
                                        26%
                                    </div>
                                    <span id="stat4" class="spark"></span>
                                </div>
                            </div>

                        </div>

                    </div><!-- End .sidenav-widget -->