
                <blockquote>
                  <div class="page-header">
                    <h4>技术文档</h4>
                    <small>我们汉化的中文文档</small>
                  </div>
                </blockquote>
                <ul class="nav nav-pills nav-stacked">
                  <li class="active">
                    <a href="#" title="">PHP5.4中文手册</a>
                  </li>
                  <li>
                    <a href="#" title="">Bootstrap v2.3中文手册</a>
                  </li>
                  <li>
                    <a href="#" title="">Foundation4中文手册</a>
                  </li>
                  <li>
                    <a href="#" title="">Jquery1.9中文手册</a>
                  </li>
                  <li>
                    <a href="#" title="">Symfony2中文手册</a>
                  </li>
                  <li>
                    <a href="#" title="">Zend Framework2中文手册</a>
                  </li>
                  <li>
                    <a href="#" title="">Nodejs中文手册</a>
                  </li>
                </ul>