<div class="box" style="padding-top:10px;padding-bottom:10px;">
  <div class="row-fluid">
    <div class="span6">
      {{ common.homeblock|raw }}
      <p>
        <a class="btn btn-success btn-large">开始学习</a>
      </p>
    </div>
    <div class="span5">
      <video width="450" height="270" src="{{common.homevideo}}" 
        type="video/mp4" poster="{{common.homeimg}}" controls="controls" preload="none"></video>
    </div>
  </div>
</div>