<div class="box" style="padding-top:10px;padding-bottom:10px;">
  <div class="row-fluid">
    <div class="span6">
      {{ common.homeblock|raw }}
      <p>
        <a class="btn btn-success btn-large">开始学习</a>
      </p>
    </div>
    <div class="span5">
      <video width="450" height="270" src="http://bcs.duapp.com/geekcoding/echo-hereweare.mp4?sign=MBO:77b76f3534960facec6bea8dd6cc03b4:8o9PbpiIvlZvObpQk07olE1XCkI%3D&response-content-disposition=filename*=utf8''echo-hereweare.mp4&response-cache-control=private=" 
        type="video/mp4" poster="{{common.homeimg}}" controls="controls" preload="none"></video>
    </div>
  </div>
</div>