<!-- 网站介绍栏开始 -->
    <div id="slide" class="container">
      <div class="row-fluid block">
        <div class="span12">
          <!-- 加载首页头部块{HOMEBLOCK} -->
          {% include 'SiteCommonBundle:Default:homeblock.html.twig' %}
        </div>
      </div>
     <div class="row-fluid block">
        <div class="span12">
          <!-- 加载最新公开视频 -->
          {% include 'SiteCommonBundle:Default:videos.html.twig' with {'newvideos' : newvideos , 'common' : common } %}
        </div>
      </div>
      <div class="row-fluid block">
        <div class="span8 block box">
          {% include 'SiteCommonBundle:Default:lessons.html.twig' with {'types' : types , 'lessons' : lessons} %}
        </div>
        <div class="span4 block box">
          {% include 'SiteCommonBundle:Default:documents.html.twig' %}
        </div>
      </div>
    </div>