<div id="slide" class="container"style="padding-top:10px;">
  {{ render(controller('SiteLessonBundle:Public:getSubTypes')) }}
	<div class="row-fluid">
		<div class="span12">
		  <div id="lessonblock">{% include 'SiteLessonBundle:Default:home.html.twig' %}</div>
      <div id="lessonpage" class="pagination pagination-centered">
        {{ render(controller('SiteLessonBundle:Default:pagination',
        {'page':current_page,'page_count':page_count,'lesson_route':lesson_route,'index':lesson_index})) }}
      </div>
    </div>
	</div>
</div>
{% javascripts
  '@SiteLessonBundle/Resources/public/js/main.js'
%}
  <script src="{{ asset_url }}"></script>
{% endjavascripts %}